
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Kalam:wght@300&display=swap');

body{
    background-image: url('https://pbs.twimg.com/media/FbBbKdKWIAANazM.jpg:large');
}
h1{
    text-align: center;
    font-size: 300px;
    color:white;
}
div{
    
    background-color: rgba(127, 255, 212, 0.247);
}

button{
    margin-left: 43%;
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 40px; 
    font-family: 'Beau Rivage', cursive;
}
button:hover{
    font-family: 'Beau Rivage', cursive;
    background-color: black;
    color: white;
}
