body{
    background-color: bisque;
}
.dark{
    background-color: gray;
}
.dark .card{
    background-color: black;
}

.dark .card p {
    color: white;
}


.dark .card h4 {
    color: white;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

.module {
    width: 250px;
    margin: 0 0 1em 0;
    overflow: hidden;
  }